// Axis /////////////////////
@font-face {
  font-family: "axis";
  font-weight: 300;
  src: url(../fonts/axis/AxisStd-Light.woff2) format("woff2");
}
@font-face {
  font-family: "axis";
  font-weight: 400;
  src: url(../fonts/axis/AxisStd-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "axis";
  font-weight: 500;
  src: url(../fonts/axis/axisstd-medium.woff2) format("woff2");
}

// Optima /////////////////////
@font-face {
  font-family: "optima";
  font-weight: 400;
  src: url(../fonts/Optima/OPTIMA.woff) format("woff");
}
@font-face {
  font-family: "optima";
  font-weight: 500;
  src: url(../fonts/Optima/OPTIMA_B.woff) format("woff");
}
// Hiragino /////////////////////
@font-face {
  font-family: "hiragino";
  font-weight: 400;
  src: url(../fonts/hiragino/ヒラギノ角ゴシックW4.ttc) format("ttc");
}
@font-face {
  font-family: "hiragino";
  font-weight: 500;
  src: url(../fonts/hiragino/ヒラギノ角ゴシックW5.ttc) format("ttc");
}
@font-face {
  font-family: "hiragino";
  font-weight: 600;
  src: url(../fonts/hiragino/ヒラギノ角ゴシックW6.ttc) format("ttc");
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
      box-sizing: border-box;
}
body,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
ol,
p,
ul {

  font-size: 100%;

}
ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

body {
  background-color: #fff;
  font-family: "axis", serif;
  line-height: 1.4;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

main div {
  display: block;
}

a {
  text-decoration: none;
  button{
    cursor:pointer;
  }  
}


img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "optima";
  font-size: 33px;
  font-weight: 400;
}
@media screen and (min-width: 767px) {
  h2 {
    font-family: "optima";
    font-size: 46px;
    font-weight: 400;
  }
}
.l_main {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/*--------------------------------------------------------------
spring__top                             
--------------------------------------------------------------*/
.spring__top {
  &__bg {
    background: url(../images/bg_top.png) center/cover no-repeat;
    position: relative;

    &::before {
      content: "OWNDAYS+ or Graph Belle";
      font-family: "optima", serif;
      font-weight: 500;
      position: absolute;
      top: 32%;
      left: -286px;
      font-size: 3em;
      transform: rotate(90deg);
      color: rgba(25, 25, 25, 0.048);
    }
  }

  &__inner {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 1.1rem;
  }
  &__image {
    position: relative;

    &-tag {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      left: 0;
      width: 80px;
      transform: translateX(120%) translateY(-40%);
    }

    &__zoomin {
      display: table;
      margin: 0 auto;
  
      overflow: hidden;

      img {
        animation: zoominoutsinglefeatured 1.2s forwards;
      }
      @keyframes zoominoutsinglefeatured {
        0% {
          transform: scale(1.04);
          filter: brightness(1.5);
        }
        100% {
          transform: scale(1);
          filter: brightness(1);
        }
      }
    }
  }

  &__detail {
    position: absolute;
    top: 32%;
    bottom: 0px;
    left: 69%;
    right: 0;

    &-sp {
      display: grid;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -40px;
        width: 30px;
        height: 1px;
        background-color: #000;
      }
      span:nth-child(1) {
        font-size: 14px;
        margin-bottom: 0.3rem;
      }
      span:nth-child(2) {
        font-size: 10px;
      }
    }
    &-pc {
      display: none;

      &:hover{
        opacity: 0.75;
        transition: 0.3s;
      }
    }
  }

  &__grouptext {
    &__p1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(14%);
      img {
        width: 180px;
      }
    }
    &__p2 {
      display: inline-grid;
      position: absolute;
      text-align: left;
      padding: 0 1rem;
      left: 5%;
      bottom: -20px;
      right: 0;

      span {
        font-family: "optima", serif;
      }
      :nth-child(1) {
        font-size: 16px;
      }
      :nth-child(2) {
        font-size: 23px;
      }
    }

    &__p3 {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin-top: 3.75rem;

      &__wrapper {
        display: flex;
        flex-direction: column;

        &__swipe {
          position: relative;
          width: fit-content;
          font-size: 19px;

          &:nth-child(1) {
            margin-bottom: 0.5rem;
            &::after {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 100%;
              width: 0%;
              height: 100%;
              background-color: #000;
              animation: swipe 1s ease-out 1s forwards;
            }
          }
          &:nth-child(2) {
            &::after {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 100%;
              width: 0%;
              height: 100%;
              background-color: #000;
              animation: swipe 1s ease-out 1s forwards;
              animation-delay: 1.5s;
            }
          }
        }

        h1 {
          display: block;
          color: #fff;
          background-color: #000;
          line-height: 1;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0.75rem 0.75rem;
          opacity: 0;
          animation: fade 0.01s ease-out 1.75s forwards;
        }

        h3 {
          display: block;
          color: #fff;
          background-color: #000;
          line-height: 1;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0.75rem 0.75rem;
          opacity: 0;
          animation: fade 0.01s ease-out 2.25s forwards;
        }
      }

      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes swipe {
        0% {
          right: 100%;
          left: 0;
          width: 0%;
        }
        50% {
          right: 0;
          left: 0;
          width: 100%;
        }
        100% {
          right: 0;
          left: 100%;
          width: 0%;
        }
      }

      &__content {
        margin-top: 1.75rem;
        line-height: 2.2;
        font-size: 15px;
      }
    }
  }

  //   max-width

  //   min-width
  @media screen and (min-width: 767px) {
    &__bg {
      &::before {
        content: "OWNDAYS+ or Graph Belle";
        font-family: "optima", serif;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        font-size: 67px;
        padding: 0 11rem;
        color: rgba(25, 25, 25, 0.048);
        transform: scale(1.75) rotate(12deg) translateX(-2%);
        white-space: nowrap;
      }
    }
    &__inner {
      padding-bottom: 10rem;
    }
    &__image {
      position: relative;

      &-tag {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        left: 0;
        transform: translateX(-230%) translateY(-40%);
      }

      &__zoomin {
        display: table;
        margin: 0 auto;
        clip-path: polygon(77px 0px, 547px 0px, 626px 80px, 889px 461px, 548px 810px, 78px 811px, -2px 729px, -1px 79px);
        overflow: hidden;
  
        img {
          animation: zoominoutsinglefeatured 1.2s forwards;
        }
        @keyframes zoominoutsinglefeatured {
          0% {
            transform: scale(1.04);
            filter: brightness(1.5);
          }
          100% {
            transform: scale(1);
            filter: brightness(1);
          }
        }
      }
    }
    
    &__detail {
      position: absolute;
      top: auto;
      bottom: -14.7%;
      left: 64%;
      right: 0;
      &-sp {
        display: none;
      }
      &-pc {
        display: block;
      }
    }
    &__grouptext {
      &__p1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateX(33%) translateY(110%);

        img {
          width: 30%;
        }
      }
      &__p2 {
        display: inline-grid;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        transform: translateX(-30%) translateY(250%);

        :nth-child(1) {
          font-size: 24px;
        }
        :nth-child(2) {
          font-size: 33px;
        }
      }

      &__p3 {
        width: 27em;
        position: absolute;
        top: 45%;
        left: 1rem;
        right: 0;
  
        &__wrapper {
          display: flex;
          flex-direction: column;
  
          &__swipe {
            position: relative;
            width: fit-content;
            font-size: 23px;
  
            &:nth-child(1) {
              margin-bottom: 0.5rem;
              &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                width: 0%;
                height: 100%;
                background-color: #000;
                animation: swipe 1s ease-out 1s forwards;
              } 
            }
            &:nth-child(2) {
              &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                width: 0%;
                height: 100%;
                background-color: #000;
                animation: swipe 1s ease-out 1s forwards;
                animation-delay: 1.5s;
              }
            }
          }
  
          h1 {
            display: block;
            color: #fff;
            background-color: #000;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0.75rem 1rem;
            opacity: 0;
            animation: fade 0.01s ease-out 1.75s forwards;
          }
  
          h3 {
            display: block;
            color: #fff;
            background-color: #000;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0.75rem 1rem;
            opacity: 0;
            animation: fade 0.01s ease-out 2.25s forwards;
          }
        }
  
    
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &__grouptext {
      &__p1 {
        position: absolute;
        top: 15%;
        left: auto;
        right: 1rem;
        transform: none;

        img {
          width: auto;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
spring__dayly                          
--------------------------------------------------------------*/

.spring__dayly {
  position: relative;
  &::before {
    content: "DAYLY / OWNDAYS+";
    font-family: "optima", serif;
    font-weight: 400;
    position: absolute;
    left: 0;
    color: #70989b;
    font-size: 40px;
    transform: rotate(90deg) translateY(327.6%) translateX(230%);
    white-space: nowrap;
  }

  &__bg {
    position: relative;
    overflow: hidden;
    margin: 1.5rem;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      background-color: #ccd7d5;
      width: 100%;
      height: 77%;
      z-index: -1;
    }
  }
  &__container {
    max-width: 1100px;
    margin: 0 auto;
    // padding: 0 2rem;
  }
  &__inner {
    padding: 0 1rem;
  }
  &__title {
    padding: 3.75rem 0;
    text-align: center;

    &-sub {
      font-size: 14px;
      display: inline-block;
      background: #70989b;
      padding: 0.3rem 1rem;
      color: #fff;
      font-family: "hiragino";
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: column-reverse;

    &-detail {
      width: calc(100% / 1);
    }
    &-image {
      width: calc(100% / 1);
      text-align: center;
    }

    h3 {
      color: #70989b;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    p {
      font-size: 14px;
      line-height: 2.2;
      margin-bottom: 2rem;
    }
    &-btn {
      width: 100%;
      font-size: 13px;
      display: inline-flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      border: 1px solid #70989b;
      box-shadow: 3px 3px 0px rgb(113, 152, 155);
      stroke: #70989b;
      transition: 0.3s;

      &:hover {
        background: #70989b;
        color: #fff;
        stroke: #fff;
        box-shadow: 3px 3px 0px #fff, 3px 3px 0px 1px #70989b;
        transform: translate3d(0, 5px, 0);
      }
    }
  }

  &__slider {
    position: relative;

    &__image {
      &-sp {
        position: relative;
        right: 0px;
        left: 0;
        transform: translateX(-7%);

        img:nth-child(2){
          position: absolute;
          left: 12%;
          bottom: 4%;
          width: 17%;
        }
      }
    }
    &__top {
      position: relative;
      margin: 0 1.5rem;
      padding-top: 4rem;

      &::before {
        content: "";
        position: absolute;
        background-color: #ccd7d5;
        width: 100%;
        top: -25%;
        height: 52%;
        z-index: -1;
      }

      &__image {
        &-pc {
          display: none;
          position: relative;

          img:nth-child(2){
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }

        &-sp {
          position: relative;
          right: 0px;
          left: 0;
          text-align: right;
          transform: translateX(7%);

          img:nth-child(2){
            position: absolute;
            right: 6%;
    bottom: 4%;
    width: 17%;
          }
        }
      }
    }

    &__inner {
      padding: 0 5%;
      margin-bottom: 4rem;
    }

    &__title {
      font-family: "optima";
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;

      div {
        width: calc(100% / 1);

        &:first-child {
          border-right: 1px solid #000;
          p {
            font-size: 26px;
          }
          span {
            font-size: 12px;
          }
        }
        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 23px;
          }
          span {
            font-size: 13px;
            margin-left: 1rem;
          }
        }
      }
    }
    &__detail {
      margin: 2rem 0;
      p {
        font-size: 13px;
        line-height: 2.2;
        font-weight: 300;
      }
    }

    &__btn {
      padding: 0 10%;
      button {
        width: 100%;
        margin: 0 auto;
        font-family: "optima";
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        border: 1px solid #bca08c;
        box-shadow: 3px 3px 0px #71989b;
        background: #fff;
        transition: 0.3s;
        stroke: #bca08c;

        &:hover {
          background: #bca08c;
          color: #fff;
          stroke: #fff;
          box-shadow: 3px 3px 0px #71989b, 3px 3px 0px 1px #707070;
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    &::before {
      content: "DAYLY / OWNDAYS+";
      font-family: "optima", serif;
      font-weight: 400;
      position: absolute;
      left: 0;
      color: #70989b;
      font-size: 40px;
      transform: rotate(90deg) translateY(328.6%) translateX(230%);
    }
    &__bg {
      position: relative;
      overflow: hidden;
      margin: 2rem;
      margin-bottom: 0;
    }

    &__slider {
      position: relative;
      max-width: 780px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;

      &__top {
        position: relative;
        margin: 0;
        padding-top: 0rem;

        &::before {
          content: "";
          position: absolute;
          background-color: transparent;
          width: 100%;
          top: 0;
          height: 0;
          z-index: -1;
        }

        &__image {
          &-pc {
            display: block;
            text-align: center;
            margin: 4rem 0;
            margin-bottom: 2rem;
          }
          &-sp {
            display: none;
          }
        }
      }

      &__image {
        &-sp {
          display: none;
        }
      }

      &__inner {
        padding: 0 5%;
        margin-bottom: 4rem;
      }

      &__title {
        font-family: "optima";
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;

        div {
          width: calc(100% / 1);

          &:first-child {
            border-right: 1px solid #000;
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 23px;
            }
            span {
              font-size: 13px;
              margin-left: 1rem;
            }
          }
        }
      }
      &__detail {
        margin: 2rem 0;

        height: 150px;
        p {
          font-size: 13px;
          line-height: 2.2;
          font-weight: 300;
        }
      }
    }

    &__inner {
      padding: 0 1rem;
    }
    &__title {
      padding: 5rem 0;
      text-align: center;

      &-sub {
        display: inline-block;
        background: #70989b;
        padding: 0.3rem 1rem;
        color: #fff;
        font-family: "hiragino";
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-flow: nowrap;

      &-detail {
        width: calc(100% / 2);
        padding-right: 5%;
        align-self: center;
      }
      &-image {
        width: calc(100% / 2);
        align-self: center;
      }
    }

    h3 {
      color: #70989b;
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 991px) {
    &::before {
      content: "DAYLY / OWNDAYS+";
      font-family: "optima", serif;
      font-weight: 400;
      position: absolute;
      left: 0;
      color: #70989b;
      font-size: 69px;
      transform: rotate(90deg) translateY(328.6%) translateX(160%);
    }
    &__bg {
      position: relative;
      overflow: hidden;
      margin: 2rem;
      margin-bottom: 0;
    }

    &__slider {
      position: relative;
      max-width: 1050px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;

      &__top {
        position: relative;
        margin: 0;
        padding-top: 0rem;

        &::before {
          content: "";
          position: absolute;
          background-color: transparent;
          width: 100%;
          top: 0;
          height: 0;
          z-index: -1;
        }

        &__image {
          &-pc {
            display: block;
            text-align: center;
            margin: 4rem 0;
            margin-bottom: 2rem;
          }
          &-sp {
            display: none;
          }
        }
      }

      &__image {
        &-sp {
          display: none;
        }
      }

      &__inner {
        padding: 0 5%;
        margin-bottom: 4rem;
      }

      &__title {
        font-family: "optima";
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;

        div {
          width: calc(100% / 1);

          &:first-child {
            border-right: 1px solid #000;
            p {
              font-size: 35px;
            }
            span {
              font-size: 16px;
            }
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 28px;
            }
            span {
              font-size: 13px;
              margin-left: 1rem;
            }
          }
        }
      }
      &__detail {
        margin: 2rem 0;
        margin-bottom: 0;
        p {
          font-size: 13px;
          line-height: 2.2;
          font-weight: 300;
        }
      }
    }

    &__inner {
      padding: 0 1rem;
    }
    &__title {
      padding: 5rem 0;
      text-align: center;

      &-sub {
        display: inline-block;
        background: #70989b;
        padding: 0.3rem 1rem;
        color: #fff;
        font-family: "hiragino";
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-flow: nowrap;

      &-detail {
        width: calc(100% / 2);
        padding-right: 5%;
        align-self: center;
      }
      &-btn {
        width: 23em;
      }
      &-image {
        width: calc(100% / 2);
        align-self: center;
      }
    }

    h3 {
      color: #70989b;
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 20px;
    }
  }
}

/*--------------------------------------------------------------
graph__belle                        
--------------------------------------------------------------*/

.graph__belle {
  position: relative;
  &::before {
    content: "GO OUT / Graph Belle";
    font-family: "optima", serif;
    font-weight: 400;
    position: absolute;
    left: 0;
    color: #bca08c;
    font-size: 40px;
    transform: rotate(90deg) translateY(338.6%) translateX(230%);
    white-space: nowrap;
  }

  &__bg {
    position: relative;
    overflow: hidden;
    margin: 1.5rem;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      background-color: #efe5d7;
      width: 100%;
      height: 77%;
      z-index: -1;
    }
  }
  &__container {
    max-width: 1100px;
    margin: 0 auto;
    // padding: 0 2rem;
  }
  &__inner {
    padding: 0 1rem;
  }
  &__title {
    padding: 3.75rem 0;
    text-align: center;

    &-sub {
      font-size: 14px;
      display: inline-block;
      background: #bca08c;
      padding: 0.3rem 1rem;
      color: #fff;
      font-family: "hiragino";
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: column-reverse;

    &-detail {
      width: calc(100% / 1);
    }
    &-image {
      width: calc(100% / 1);
      text-align: center;
    }

    h3 {
      color: #bca08c;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    p {
      font-size: 14px;
      line-height: 2.2;
      margin-bottom: 2rem;
    }
    &-btn {
      width: 100%;
      font-size: 13px;
      display: inline-flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      border: 1px solid #bca08c;
      box-shadow: 3px 3px 0px #bca08c;
      background: #fff;
      transition: 0.3s;
      stroke: #bca08c;

      &:hover {
        background: #bca08c;
        color: #fff;
        stroke: #fff;
        box-shadow: 3px 3px 0px #fff, 3px 3px 0px 1px #707070;
        transform: translate3d(0, 5px, 0);
      }
    }
  }

  &__slider {
    position: relative;

    &__image {
      &-sp {
        position: relative;
        right: 0px;
        left: 0;
        transform: translateX(-7%);

        img:nth-child(2){
          position: absolute;
          left: 12%;
          bottom: 4%;
          width: 17%;
        }
      }
    }
    &__top {
      position: relative;
      margin: 0 1.5rem;
      padding-top: 4rem;

      &::before {
        content: "";
        position: absolute;
        background-color: #efe5d7;
        width: 100%;
        top: -25%;
        height: 52%;
        z-index: -1;
      }

      &__image {
        &-pc {
          display: none;
          position: relative;

          img:nth-child(2){
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }

        &-sp {
          position: relative;
          right: 0px;
          left: 0;
          text-align: right;
          transform: translateX(7%);

          img:nth-child(2){
            position: absolute;
            right:6%;
            bottom: 4%;
            width: 17%;
          }
        }
      }
    }

    &__inner {
      padding: 0 5%;
      margin-bottom: 4rem;
    }

    &__title {
      font-family: "optima";
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;

      div {
        width: calc(100% / 1);

        &:first-child {
          border-right: 1px solid #000;
          p {
            font-size: 26px;
          }
          span {
            font-size: 12px;
          }
        }
        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 23px;
          }
          span {
            font-size: 13px;
            margin-left: 1rem;
          }
        }
      }
    }
    &__detail {
      margin: 2rem 0;
      p {
        font-size: 13px;
        line-height: 2.2;
        font-weight: 300;
      }
    }

    &__btn {
      padding: 0 10%;
      button {
        width: 100%;
        margin: 0 auto;
        font-family: "optima";
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        border: 1px solid #bca08c;
        box-shadow: 3px 3px 0px #71989b;
        background: #fff;
        stroke: #bca08c;
        transition: 0.3s;

        &:hover {
          background: #bca08c;
          color: #fff;
          stroke: #fff;
          box-shadow: 3px 3px 0px #71989b, 3px 3px 0px 1px #707070;
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    &::before {
      font-family: "optima", serif;
      font-weight: 400;
      position: absolute;
      left: 0;
      color: #bca08c;
      font-size: 40px;
      transform: rotate(90deg) translateY(338.6%) translateX(230%);
    }
    &__bg {
      position: relative;
      overflow: hidden;
      margin: 2rem;
      margin-bottom: 0;
    }

    &__slider {
      position: relative;
      max-width: 780px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;

      &__top {
        position: relative;
        margin: 0;
        padding-top: 0rem;

        &::before {
          content: "";
          position: absolute;
          background-color: transparent;
          width: 100%;
          top: 0;
          height: 0;
          z-index: -1;
        }

        &__image {
          &-pc {
            display: block;
            text-align: center;
            margin: 4rem 0;
            margin-bottom: 2rem;
          }
          &-sp {
            display: none;
          }
        }
      }

      &__image {
        &-sp {
          display: none;
        }
      }

      &__inner {
        padding: 0 5%;
        margin-bottom: 4rem;
      }

      &__title {
        font-family: "optima";
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;

        div {
          width: calc(100% / 1);

          &:first-child {
            border-right: 1px solid #000;
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 23px;
            }
            span {
              font-size: 13px;
              margin-left: 1rem;
            }
          }
        }
      }
      &__detail {
        margin: 2rem 0;

        height: 150px;
        p {
          font-size: 13px;
          line-height: 2.2;
          font-weight: 300;
        }
      }
    }

    &__inner {
      padding: 0 1rem;
    }
    &__title {
      padding: 5rem 0;
      text-align: center;

      &-sub {
        display: inline-block;
        background: #bca08c;
        padding: 0.3rem 1rem;
        color: #fff;
        font-family: "hiragino";
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-flow: nowrap;

      &-detail {
        width: calc(100% / 2);
        padding-right: 5%;
        align-self: center;
      }
      &-image {
        width: calc(100% / 2);
        align-self: center;
      }
    }

    h3 {
      color: #bca08c;
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 991px) {
    &::before {
      font-family: "optima", serif;
      font-weight: 400;
      position: absolute;
      left: 0;
      color: #bca08c;
      font-size: 69px;
      transform: rotate(90deg) translateY(338.6%) translateX(170%);
    }
    &__bg {
      position: relative;
      overflow: hidden;
      margin: 2rem;
      margin-bottom: 0;
    }

    &__slider {
      position: relative;
      max-width: 1050px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;

      &__top {
        position: relative;
        margin: 0;
        padding-top: 0rem;

        &::before {
          content: "";
          position: absolute;
          background-color: transparent;
          width: 100%;
          top: 0;
          height: 0;
          z-index: -1;
        }

        &__image {
          &-pc {
            display: block;
            text-align: center;
            margin: 4rem 0;
            margin-bottom: 2rem;
          }
          &-sp {
            display: none;
          }
        }
      }

      &__image {
        &-sp {
          display: none;
        }
      }

      &__inner {
        padding: 0 5%;
        margin-bottom: 4rem;
      }

      &__title {
        font-family: "optima";
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;

        div {
          width: calc(100% / 1);

          &:first-child {
            border-right: 1px solid #000;
            p {
              font-size: 35px;
            }
            span {
              font-size: 16px;
            }
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 28px;
            }
            span {
              font-size: 13px;
              margin-left: 1rem;
            }
          }
        }
      }
      &__detail {
        margin: 2rem 0;
        margin-bottom: 0;
        p {
          font-size: 13px;
          line-height: 2.2;
          font-weight: 300;
        }
      }
    }

    &__inner {
      padding: 0 1rem;
    }
    &__title {
      padding: 5rem 0;
      text-align: center;

      &-sub {
        display: inline-block;
        background: #bca08c;
        padding: 0.3rem 1rem;
        color: #fff;
        font-family: "hiragino";
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-flow: nowrap;

      &-detail {
        width: calc(100% / 2);
        padding-right: 5%;
        align-self: center;
      }
      &-btn {
        width: 23em;
      }
      &-image {
        width: calc(100% / 2);
        align-self: center;
      }
    }

    h3 {
      color: #bca08c;
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 20px;
    }
  }
}



// Custom Slick

.graph__belle{
  .slick-dots {
    li{
      &.slick-active{
        button{
          &::before{
            opacity: 9;
            color: transparent;
            background: #bca08c;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

